@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Noto Sans", serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #62b236;
    color: black;
}

#easypc-logo {
    height: 40px;
    width: 16 0px;
}

.cart {
    cursor: pointer;
}

#cart-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    text-decoration: none;
    color: black;
}

.styled-table {
    width: 40%;
    border-collapse: collapse;
    margin: 30px auto;
    background-color: white;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #333e48;
    color: #fff;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 15px;
    text-align: center;
}

input {
    text-align: center;
}

.btn-cart {
    margin: 20px auto;
    text-align: center;
}

.button-container {
    text-align: center;
}

button.clear,
button.calculate {
    margin-left: 60px;
    margin-right: 60px;
}

.btn-cart button {
    width: 150px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #333e48;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1;
}

.btn-cart button:hover {
    background-color: #fed700;
    color: black;
    transition: background-color 0.3s;
}
