@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Noto Sans", serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #62b236;
    color: black;
}

#easypc-logo {
    height: 40px;
    width: 16 0px;
}

.cart {
    cursor: pointer;
}

#cart-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s;
}

.shop {
    padding: 20px;
    background-color: #f4f4f4;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    font-weight: bold;
}

.product-card .price {
    font-size: 1.4rem;
    color: #333;
}

.product-card .add-cart {
    background-color: #333e48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    flex: 1;
}

.product-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.add-cart:hover {
    background-color: #fed700;
    color: black;
    transition: background-color 0.3s;
}

.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
    min-height: 500px;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tbody input {
    text-align: center;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100px;
}

label {
    font-weight: bold;
}

span {
    font-size: 1.2em;
    color: #333;
}

button {
    background-color: #333e48;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fed700;
    color: black;
    transition: background-color 0.3s;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quantitybtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantitybtns button {
    padding: 5px 10px;
    cursor: pointer;
}

.quantitybtns input {
    width: 40px;
    text-align: center;
    padding: 5px;
}

#calculateBtn {
    text-align: right;
}

#payment {
    width: 30%;
}
